body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-facebook-button-class {
  border-radius: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

.my-facebook-button-class i {
  margin-right: 0.5rem;
}
